# êµ­ì ë³„/ëª©ì ë³„ ì…êµ­ í˜„í™© ë°ì´í„° ì „ì²˜ë¦¬

## ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import pandas as pd

pd.read_excel('./files/kto_201901.xlsx')

,2019ë…„ 01ì›” ì™¸ë˜ê° ì…êµ­-ëª©ì ë³„/êµ­ì ë³„,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ì „ë…„ë™ê¸°,ì„±ì¥ë¥ (%),êµ¬ì„±ë¹„(%)
1,ì•„ì‹œì•„ì£¼,765082,10837,1423,14087,125521,916950,775023,18.3,83
2,ì¼ë³¸,198805,2233,127,785,4576,206526,167083,23.6,18.7
3,ëŒ€ë§Œ,86393,74,22,180,1285,87954,75820,16,8
4,í™ì½©,34653,59,2,90,1092,35896,34671,3.5,3.2
...,...,...,...,...,...,...,...,...,...,...
67,êµí¬,0,0,0,0,15526,15526,19196,-19.1,1.4
68,ê³„,884293,13675,4439,15995,186401,1104803,NaN,NaN,NaN
69,ì „ë…„ë™ê¸°,742732,14663,4126,13858,180657,956036,NaN,NaN,NaN
70,ì„±ì¥ë¥ (%),19.1,-6.7,7.6,15.4,3.2,15.6,NaN,NaN,NaN
71,êµ¬ì„±ë¹„(%),80,1.2,0.4,1.4,16.9,100,NaN,NaN,NaN

In [2]:
# ì›í•˜ëŠ” ë¶€ë¶„ë§Œ ì§€ì •í•˜ì—¬ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

df = pd.read_excel('./files/kto_201901.xlsx',
                 header=1, # headerë¡œ ì‚¬ìš©í•  í–‰ ì§€ì •
                 usecols='A:G', # ì‚¬ìš©í•  ì—´ ì§€ì •
                 skipfooter=4)  # ë’¤ì—ì„œ nê°œ í–‰ ì œì™¸

df.head()

     êµ­ì       ê´€ê´‘     ìƒìš©    ê³µìš©  ìœ í•™/ì—°ìˆ˜      ê¸°íƒ€       ê³„
0  ì•„ì‹œì•„ì£¼  765082  10837  1423  14087  125521  916950
1    ì¼ë³¸  198805   2233   127    785    4576  206526
2    ëŒ€ë§Œ   86393     74    22    180    1285   87954
3    í™ì½©   34653     59     2     90    1092   35896
4   ë§ˆì¹´ì˜¤    2506      2     0     17      45    2570

In [3]:
df.tail()

         êµ­ì    ê´€ê´‘   ìƒìš©  ê³µìš©  ìœ í•™/ì—°ìˆ˜     ê¸°íƒ€      ê³„
62  ì•„í”„ë¦¬ì¹´ ê¸°íƒ€  768  718  90    206    908   2690
63     ê¸°íƒ€ëŒ€ë¥™   33    4   0      1     16     54
64     êµ­ì ë¯¸ìƒ   33    4   0      1     16     54
65     êµí¬ì†Œê³„    0    0   0      0  15526  15526
66       êµí¬    0    0   0      0  15526  15526

## ë°ì´í„° ì „ì²˜ë¦¬

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   êµ­ì       67 non-null     object
 1   ê´€ê´‘      67 non-null     int64
 2   ìƒìš©      67 non-null     int64
 3   ê³µìš©      67 non-null     int64
 4   ìœ í•™/ì—°ìˆ˜   67 non-null     int64
 5   ê¸°íƒ€      67 non-null     int64
 6   ê³„       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [5]:
df.describe()

,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [6]:
# ê° ì»¬ëŸ¼ì—ì„œ ê°’ì´ 0ì¸ ë¶€ë¶„ì„ í•„í„°ë§
df[(df['ê´€ê´‘'] == 0) | 
   (df['ìƒìš©'] == 0) | 
   (df['ê³µìš©'] == 0) | 
   (df['ìœ í•™/ì—°ìˆ˜'] == 0) | 
   (df['ê¸°íƒ€'] == 0)]

        êµ­ì     ê´€ê´‘   ìƒìš©  ê³µìš©  ìœ í•™/ì—°ìˆ˜     ê¸°íƒ€      ê³„
4      ë§ˆì¹´ì˜¤  2506    2   0     17     45   2570
20    ì´ìŠ¤ë¼ì—˜   727   12   0      9     57    805
22  ìš°ì¦ˆë² í‚¤ìŠ¤íƒ„  1958  561   0    407   2828   5754
38     ìŠ¤ìœ„ìŠ¤   613   18   0     19     97    747
45     ê·¸ë¦¬ìŠ¤   481   17   4      0    273    775
46    í¬ë¥´íˆ¬ê°ˆ   416   14   0     13    121    564
51   í¬ë¡œì•„í‹°ì•„   226   12   0      3    250    491
54     í´ë€ë“œ   713   10   0     27    574   1324
59  ëŒ€ì–‘ì£¼ ê¸°íƒ€   555    3   4      0     52    614
63    ê¸°íƒ€ëŒ€ë¥™    33    4   0      1     16     54
64    êµ­ì ë¯¸ìƒ    33    4   0      1     16     54
65    êµí¬ì†Œê³„     0    0   0      0  15526  15526
66      êµí¬     0    0   0      0  15526  15526

In [7]:
# ê¸°ì¤€ì—°ì›” ì»¬ëŸ¼ ìƒì„±
df['ê¸°ì¤€ì—°ì›”'] = '2019-01'
df.head()

     êµ­ì       ê´€ê´‘     ìƒìš©    ê³µìš©  ìœ í•™/ì—°ìˆ˜      ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”
0  ì•„ì‹œì•„ì£¼  765082  10837  1423  14087  125521  916950  2019-01
1    ì¼ë³¸  198805   2233   127    785    4576  206526  2019-01
2    ëŒ€ë§Œ   86393     74    22    180    1285   87954  2019-01
3    í™ì½©   34653     59     2     90    1092   35896  2019-01
4   ë§ˆì¹´ì˜¤    2506      2     0     17      45    2570  2019-01

In [8]:
# unique()
# ê° ì»¬ëŸ¼ì˜ uniqueí•œ ê°’ êµ¬í•˜ê¸°
df['êµ­ì '].unique()

array(['ì•„ì‹œì•„ì£¼', 'ì¼ë³¸', 'ëŒ€ë§Œ', 'í™ì½©', 'ë§ˆì¹´ì˜¤', 'íƒœêµ­', 'ë§ë ˆì´ì‹œì•„', 'í•„ë¦¬í•€', 'ì¸ë„ë„¤ì‹œì•„',
       'ì‹±ê°€í¬ë¥´', 'ë¯¸ì–€ë§ˆ', 'ë² íŠ¸ë‚¨', 'ì¸ë„', 'ìŠ¤ë¦¬ë‘ì¹´', 'íŒŒí‚¤ìŠ¤íƒ„', 'ë°©ê¸€ë¼ë°ì‹œ', 'ìº„ë³´ë””ì•„', 'ëª½ê³¨',
       'ì¤‘êµ­', 'ì´ë€', 'ì´ìŠ¤ë¼ì—˜', 'í„°í‚¤', 'ìš°ì¦ˆë² í‚¤ìŠ¤íƒ„', 'ì¹´ìíìŠ¤íƒ„', 'GCC', 'ì•„ì‹œì•„ ê¸°íƒ€', 'ë¯¸ì£¼',
       'ë¯¸êµ­', 'ìºë‚˜ë‹¤', 'ë©•ì‹œì½”', 'ë¸Œë¼ì§ˆ', 'ë¯¸ì£¼ ê¸°íƒ€', 'êµ¬ì£¼', 'ì˜êµ­', 'ë…ì¼', 'í”„ë‘ìŠ¤',
       'ë„¤ëœë€ë“œ', 'ìŠ¤ì›¨ë´', 'ìŠ¤ìœ„ìŠ¤', 'ì´íƒˆë¦¬ì•„', 'ë´ë§ˆí¬', 'ë…¸ë¥´ì›¨ì´', 'ë²¨ê¸°ì—', 'ì˜¤ìŠ¤íŠ¸ë¦¬ì•„', 'ìŠ¤í˜ì¸',
       'ê·¸ë¦¬ìŠ¤', 'í¬ë¥´íˆ¬ê°ˆ', 'í•€ë€ë“œ', 'ì•„ì¼ëœë“œ', 'ìš°í¬ë¼ì´ë‚˜', 'ëŸ¬ì‹œì•„', 'í¬ë¡œì•„í‹°ì•„', 'ë£¨ë§ˆë‹ˆì•„',
       'ë¶ˆê°€ë¦¬ì•„', 'í´ë€ë“œ', 'êµ¬ì£¼ ê¸°íƒ€', 'ëŒ€ì–‘ì£¼', 'ì˜¤ìŠ¤íŠ¸ë ˆì¼ë¦¬ì•„', 'ë‰´ì§ˆëœë“œ', 'ëŒ€ì–‘ì£¼ ê¸°íƒ€',
       'ì•„í”„ë¦¬ì¹´ì£¼', 'ë‚¨ì•„í”„ë¦¬ì¹´ê³µí™”êµ­', 'ì•„í”„ë¦¬ì¹´ ê¸°íƒ€', 'ê¸°íƒ€ëŒ€ë¥™', 'êµ­ì ë¯¸ìƒ', 'êµí¬ì†Œê³„', 'êµí¬'],
      dtype=object)

In [9]:
# ëŒ€ë¥™ ëª©ë¡ ë§Œë“¤ê¸°
continents_list = ['ì•„ì‹œì•„ì£¼', 'ë¯¸ì£¼', 'êµ¬ì£¼', 'ëŒ€ì–‘ì£¼', 'ì•„í”„ë¦¬ì¹´ì£¼', 'ê¸°íƒ€ëŒ€ë¥™', 'êµí¬ì†Œê³„']
continents_list

['ì•„ì‹œì•„ì£¼', 'ë¯¸ì£¼', 'êµ¬ì£¼', 'ëŒ€ì–‘ì£¼', 'ì•„í”„ë¦¬ì¹´ì£¼', 'ê¸°íƒ€ëŒ€ë¥™', 'êµí¬ì†Œê³„']

In [10]:
# ëŒ€ë¥™ ëª©ë¡ì— í•´ë‹¹í•˜ëŠ” í–‰ ì œì™¸í•˜ê¸°
# isin()
df_country = df[df['êµ­ì '].isin(continents_list) == False]
df_country['êµ­ì '].unique()

array(['ì¼ë³¸', 'ëŒ€ë§Œ', 'í™ì½©', 'ë§ˆì¹´ì˜¤', 'íƒœêµ­', 'ë§ë ˆì´ì‹œì•„', 'í•„ë¦¬í•€', 'ì¸ë„ë„¤ì‹œì•„', 'ì‹±ê°€í¬ë¥´',
       'ë¯¸ì–€ë§ˆ', 'ë² íŠ¸ë‚¨', 'ì¸ë„', 'ìŠ¤ë¦¬ë‘ì¹´', 'íŒŒí‚¤ìŠ¤íƒ„', 'ë°©ê¸€ë¼ë°ì‹œ', 'ìº„ë³´ë””ì•„', 'ëª½ê³¨', 'ì¤‘êµ­',
       'ì´ë€', 'ì´ìŠ¤ë¼ì—˜', 'í„°í‚¤', 'ìš°ì¦ˆë² í‚¤ìŠ¤íƒ„', 'ì¹´ìíìŠ¤íƒ„', 'GCC', 'ì•„ì‹œì•„ ê¸°íƒ€', 'ë¯¸êµ­',
       'ìºë‚˜ë‹¤', 'ë©•ì‹œì½”', 'ë¸Œë¼ì§ˆ', 'ë¯¸ì£¼ ê¸°íƒ€', 'ì˜êµ­', 'ë…ì¼', 'í”„ë‘ìŠ¤', 'ë„¤ëœë€ë“œ', 'ìŠ¤ì›¨ë´',
       'ìŠ¤ìœ„ìŠ¤', 'ì´íƒˆë¦¬ì•„', 'ë´ë§ˆí¬', 'ë…¸ë¥´ì›¨ì´', 'ë²¨ê¸°ì—', 'ì˜¤ìŠ¤íŠ¸ë¦¬ì•„', 'ìŠ¤í˜ì¸', 'ê·¸ë¦¬ìŠ¤', 'í¬ë¥´íˆ¬ê°ˆ',
       'í•€ë€ë“œ', 'ì•„ì¼ëœë“œ', 'ìš°í¬ë¼ì´ë‚˜', 'ëŸ¬ì‹œì•„', 'í¬ë¡œì•„í‹°ì•„', 'ë£¨ë§ˆë‹ˆì•„', 'ë¶ˆê°€ë¦¬ì•„', 'í´ë€ë“œ',
       'êµ¬ì£¼ ê¸°íƒ€', 'ì˜¤ìŠ¤íŠ¸ë ˆì¼ë¦¬ì•„', 'ë‰´ì§ˆëœë“œ', 'ëŒ€ì–‘ì£¼ ê¸°íƒ€', 'ë‚¨ì•„í”„ë¦¬ì¹´ê³µí™”êµ­', 'ì•„í”„ë¦¬ì¹´ ê¸°íƒ€',
       'êµ­ì ë¯¸ìƒ', 'êµí¬'], dtype=object)

In [11]:
df_country.head()

    êµ­ì       ê´€ê´‘    ìƒìš©   ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”
1   ì¼ë³¸  198805  2233  127    785  4576  206526  2019-01
2   ëŒ€ë§Œ   86393    74   22    180  1285   87954  2019-01
3   í™ì½©   34653    59    2     90  1092   35896  2019-01
4  ë§ˆì¹´ì˜¤    2506     2    0     17    45    2570  2019-01
5   íƒœêµ­   34004    37  199     96  6998   41334  2019-01

ëŒ€ë¥™ ëª©ë¡ì— í•´ë‹¹í•˜ëŠ” ì•„ì‹œì•„ì£¼, ë¯¸ì£¼ ë“±ì— ì œì™¸ëœ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

In [12]:
# index ì¬ì„¤ì •
# reset_index()
df_country = df_country.reset_index(drop=True) # drop=True ê¸°ì¡´ index ì œê±°
df_country.head()

    êµ­ì       ê´€ê´‘    ìƒìš©   ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”
0   ì¼ë³¸  198805  2233  127    785  4576  206526  2019-01
1   ëŒ€ë§Œ   86393    74   22    180  1285   87954  2019-01
2   í™ì½©   34653    59    2     90  1092   35896  2019-01
3  ë§ˆì¹´ì˜¤    2506     2    0     17    45    2570  2019-01
4   íƒœêµ­   34004    37  199     96  6998   41334  2019-01

In [13]:
# ëŒ€ë¥™ ì»¬ëŸ¼ê°’ ë§Œë“¤ê¸°
continents = ['ì•„ì‹œì•„']*25 + ['ì•„ë©”ë¦¬ì¹´']*5 + ['ìœ ëŸ½']*23 + ['ì˜¤ì„¸ì•„ë‹ˆì•„']*3 + ['ì•„í”„ë¦¬ì¹´']*2 + ['ê¸°íƒ€ëŒ€ë¥™'] + ['êµí¬']
print(continents)

['ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ì‹œì•„', 'ì•„ë©”ë¦¬ì¹´', 'ì•„ë©”ë¦¬ì¹´', 'ì•„ë©”ë¦¬ì¹´', 'ì•„ë©”ë¦¬ì¹´', 'ì•„ë©”ë¦¬ì¹´', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ìœ ëŸ½', 'ì˜¤ì„¸ì•„ë‹ˆì•„', 'ì˜¤ì„¸ì•„ë‹ˆì•„', 'ì˜¤ì„¸ì•„ë‹ˆì•„', 'ì•„í”„ë¦¬ì¹´', 'ì•„í”„ë¦¬ì¹´', 'ê¸°íƒ€ëŒ€ë¥™', 'êµí¬']

ğŸ’¡ ê¶ê¸ˆì : ë°ì´í„°ì˜ í–‰ì´ ì •ë§ ë§ì€ ê²½ìš° ì–´ë–»ê²Œ ë§Œë“¤ì–´ì•¼í• ê¹Œ?

In [14]:
# ëŒ€ë¥™ ì»¬ëŸ¼ ìƒì„±
df_country['ëŒ€ë¥™'] = continents
df_country.head()

    êµ­ì       ê´€ê´‘    ìƒìš©   ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”   ëŒ€ë¥™
0   ì¼ë³¸  198805  2233  127    785  4576  206526  2019-01  ì•„ì‹œì•„
1   ëŒ€ë§Œ   86393    74   22    180  1285   87954  2019-01  ì•„ì‹œì•„
2   í™ì½©   34653    59    2     90  1092   35896  2019-01  ì•„ì‹œì•„
3  ë§ˆì¹´ì˜¤    2506     2    0     17    45    2570  2019-01  ì•„ì‹œì•„
4   íƒœêµ­   34004    37  199     96  6998   41334  2019-01  ì•„ì‹œì•„

In [15]:
df_country.tail()

          êµ­ì    ê´€ê´‘   ìƒìš©  ê³µìš©  ìœ í•™/ì—°ìˆ˜     ê¸°íƒ€      ê³„     ê¸°ì¤€ì—°ì›”     ëŒ€ë¥™
55    ëŒ€ì–‘ì£¼ ê¸°íƒ€  555    3   4      0     52    614  2019-01  ì˜¤ì„¸ì•„ë‹ˆì•„
56  ë‚¨ì•„í”„ë¦¬ì¹´ê³µí™”êµ­  368    9   1      6    616   1000  2019-01   ì•„í”„ë¦¬ì¹´
57   ì•„í”„ë¦¬ì¹´ ê¸°íƒ€  768  718  90    206    908   2690  2019-01   ì•„í”„ë¦¬ì¹´
58      êµ­ì ë¯¸ìƒ   33    4   0      1     16     54  2019-01   ê¸°íƒ€ëŒ€ë¥™
59        êµí¬    0    0   0      0  15526  15526  2019-01     êµí¬

In [16]:
# ê´€ê´‘ê° ë¹„ìœ¨(%) ì»¬ëŸ¼ ìƒì„±
df_country['ê´€ê´‘ê°ë¹„ìœ¨(%)'] = df_country['ê´€ê´‘'] / df_country['ê³„']
df_country.head()

    êµ­ì       ê´€ê´‘    ìƒìš©   ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”   ëŒ€ë¥™  ê´€ê´‘ê°ë¹„ìœ¨(%)
0   ì¼ë³¸  198805  2233  127    785  4576  206526  2019-01  ì•„ì‹œì•„  0.962615
1   ëŒ€ë§Œ   86393    74   22    180  1285   87954  2019-01  ì•„ì‹œì•„  0.982252
2   í™ì½©   34653    59    2     90  1092   35896  2019-01  ì•„ì‹œì•„  0.965372
3  ë§ˆì¹´ì˜¤    2506     2    0     17    45    2570  2019-01  ì•„ì‹œì•„  0.975097
4   íƒœêµ­   34004    37  199     96  6998   41334  2019-01  ì•„ì‹œì•„  0.822664

In [17]:
df_country['ê´€ê´‘ê°ë¹„ìœ¨(%)'] = round(df_country['ê´€ê´‘'] / df_country['ê³„'] * 100, 1)
df_country.head()

    êµ­ì       ê´€ê´‘    ìƒìš©   ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”   ëŒ€ë¥™  ê´€ê´‘ê°ë¹„ìœ¨(%)
0   ì¼ë³¸  198805  2233  127    785  4576  206526  2019-01  ì•„ì‹œì•„      96.3
1   ëŒ€ë§Œ   86393    74   22    180  1285   87954  2019-01  ì•„ì‹œì•„      98.2
2   í™ì½©   34653    59    2     90  1092   35896  2019-01  ì•„ì‹œì•„      96.5
3  ë§ˆì¹´ì˜¤    2506     2    0     17    45    2570  2019-01  ì•„ì‹œì•„      97.5
4   íƒœêµ­   34004    37  199     96  6998   41334  2019-01  ì•„ì‹œì•„      82.3

In [18]:
# ê´€ê´‘ê°ë¹„ìœ¨(%) ì»¬ëŸ¼ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ 
df_country.sort_values(by='ê´€ê´‘ê°ë¹„ìœ¨(%)', ascending=False).head()

        êµ­ì       ê´€ê´‘    ìƒìš©   ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”     ëŒ€ë¥™  ê´€ê´‘ê°ë¹„ìœ¨(%)
1       ëŒ€ë§Œ   86393    74   22    180  1285   87954  2019-01    ì•„ì‹œì•„      98.2
3      ë§ˆì¹´ì˜¤    2506     2    0     17    45    2570  2019-01    ì•„ì‹œì•„      97.5
2       í™ì½©   34653    59    2     90  1092   35896  2019-01    ì•„ì‹œì•„      96.5
0       ì¼ë³¸  198805  2233  127    785  4576  206526  2019-01    ì•„ì‹œì•„      96.3
55  ëŒ€ì–‘ì£¼ ê¸°íƒ€     555     3    4      0    52     614  2019-01  ì˜¤ì„¸ì•„ë‹ˆì•„      90.4

In [19]:
# ê´€ê´‘ê°ë¹„ìœ¨(%) ì»¬ëŸ¼ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ 
df_country.sort_values(by='ê´€ê´‘ê°ë¹„ìœ¨(%)', ascending=True).head()

       êµ­ì    ê´€ê´‘   ìƒìš©  ê³µìš©  ìœ í•™/ì—°ìˆ˜     ê¸°íƒ€      ê³„     ê¸°ì¤€ì—°ì›”   ëŒ€ë¥™  ê´€ê´‘ê°ë¹„ìœ¨(%)
59     êµí¬    0    0   0      0  15526  15526  2019-01   êµí¬       0.0
14  ë°©ê¸€ë¼ë°ì‹œ  149  126  27     97    848   1247  2019-01  ì•„ì‹œì•„      11.9
12   ìŠ¤ë¦¬ë‘ì¹´  157   54   5     28   1043   1287  2019-01  ì•„ì‹œì•„      12.2
13   íŒŒí‚¤ìŠ¤íƒ„  238  178  10    193    413   1032  2019-01  ì•„ì‹œì•„      23.1
15   ìº„ë³´ë””ì•„  635   39  55     51   1915   2695  2019-01  ì•„ì‹œì•„      23.6

In [20]:
# pivot_table()
df_country.pivot_table(index='ëŒ€ë¥™',
                      values='ê´€ê´‘ê°ë¹„ìœ¨(%)',
                      aggfunc='mean')

        ê´€ê´‘ê°ë¹„ìœ¨(%)
ëŒ€ë¥™
êµí¬      0.000000
ê¸°íƒ€ëŒ€ë¥™   61.100000
ì•„ë©”ë¦¬ì¹´   68.200000
ì•„ì‹œì•„    59.624000
ì•„í”„ë¦¬ì¹´   32.700000
ì˜¤ì„¸ì•„ë‹ˆì•„  84.833333
ìœ ëŸ½     63.826087

ê´€ê´‘ê° ë¹„ìœ¨(%) ë‹¨ìˆœí‰ê· ìœ¼ë¡œ ê³„ì‚°ë˜ì–´ ì •í™•í•˜ì§€ ì•Šì„ ìˆ˜ ìˆë‹¤.  
ì˜¬ë°”ë¥´ê²Œ ê³„ì‚°í•˜ë ¤ë©´?

In [21]:
temp = df_country.pivot_table(index='ëŒ€ë¥™',
                       values = ['ê´€ê´‘', 'ê³„'],
                      aggfunc='sum')
temp

            ê³„      ê´€ê´‘
ëŒ€ë¥™
êµí¬      15526       0
ê¸°íƒ€ëŒ€ë¥™       54      33
ì•„ë©”ë¦¬ì¹´    80921   54982
ì•„ì‹œì•„    916950  765082
ì•„í”„ë¦¬ì¹´     3690    1136
ì˜¤ì„¸ì•„ë‹ˆì•„   17624   15379
ìœ ëŸ½      70038   47681

In [22]:
temp['ê´€ê´€ê°ë¹„ìœ¨(%)'] = round(temp['ê´€ê´‘'] / temp['ê³„'] * 100, 1)
temp

            ê³„      ê´€ê´‘  ê´€ê´€ê°ë¹„ìœ¨(%)
ëŒ€ë¥™
êµí¬      15526       0       0.0
ê¸°íƒ€ëŒ€ë¥™       54      33      61.1
ì•„ë©”ë¦¬ì¹´    80921   54982      67.9
ì•„ì‹œì•„    916950  765082      83.4
ì•„í”„ë¦¬ì¹´     3690    1136      30.8
ì˜¤ì„¸ì•„ë‹ˆì•„   17624   15379      87.3
ìœ ëŸ½      70038   47681      68.1

In [23]:
# ê´€ê´‘ ëª©ì ì˜ ë°©ë¬¸ê°ì´ ê°€ì¥ ë§ì€ ë‚˜ë¼ëŠ”?
df_country.sort_values(by='ê´€ê´‘', ascending=False).head()

    êµ­ì       ê´€ê´‘    ìƒìš©    ê³µìš©  ìœ í•™/ì—°ìˆ˜     ê¸°íƒ€       ê³„     ê¸°ì¤€ì—°ì›”    ëŒ€ë¥™  ê´€ê´‘ê°ë¹„ìœ¨(%)
17  ì¤‘êµ­  320113  2993   138   8793  60777  392814  2019-01   ì•„ì‹œì•„      81.5
0   ì¼ë³¸  198805  2233   127    785   4576  206526  2019-01   ì•„ì‹œì•„      96.3
1   ëŒ€ë§Œ   86393    74    22    180   1285   87954  2019-01   ì•„ì‹œì•„      98.2
25  ë¯¸êµ­   42989   418  2578    229  16523   62737  2019-01  ì•„ë©”ë¦¬ì¹´      68.5
2   í™ì½©   34653    59     2     90   1092   35896  2019-01   ì•„ì‹œì•„      96.5

In [24]:
# êµ­ì ì´ 'ìš°í¬ë¼ì´ë‚˜'ì¸ ê²½ìš°ë§Œ ì‚´í´ë³´ê¸°
df_country[df_country['êµ­ì '] == 'ìš°í¬ë¼ì´ë‚˜']

       êµ­ì    ê´€ê´‘  ìƒìš©  ê³µìš©  ìœ í•™/ì—°ìˆ˜    ê¸°íƒ€     ê³„     ê¸°ì¤€ì—°ì›”  ëŒ€ë¥™  ê´€ê´‘ê°ë¹„ìœ¨(%)
46  ìš°í¬ë¼ì´ë‚˜  593  58   3     28  1580  2262  2019-01  ìœ ëŸ½      26.2

In [25]:
# 2019ë…„ 1ì›” ìš°ë¦¬ë‚˜ë¼ ë°©ë¬¸í•œ ì „ì²´ ì™¸êµ­ì¸ ê´€ê´‘ê° ìˆ«ì êµ¬í•˜ê¸°
tourist_sum = df_country['ê´€ê´‘'].sum()
tourist_sum

884293

In [26]:
# ì „ì²´ë¹„ìœ¨(%) ì»¬ëŸ¼ ìƒì„±
df_country['ì „ì²´ë¹„ìœ¨(%)'] = round(df_country['ê´€ê´‘'] / tourist_sum * 100, 1)
df_country.head()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ì „ì²´ë¹„ìœ¨(%)
0,ì¼ë³¸,198805,2233,127,785,4576,206526,2019-01,ì•„ì‹œì•„,96.3,22.5
1,ëŒ€ë§Œ,86393,74,22,180,1285,87954,2019-01,ì•„ì‹œì•„,98.2,9.8
2,í™ì½©,34653,59,2,90,1092,35896,2019-01,ì•„ì‹œì•„,96.5,3.9
3,ë§ˆì¹´ì˜¤,2506,2,0,17,45,2570,2019-01,ì•„ì‹œì•„,97.5,0.3
4,íƒœêµ­,34004,37,199,96,6998,41334,2019-01,ì•„ì‹œì•„,82.3,3.8

In [27]:
# ì „ì²´ë¹„ìœ¨(%) ì»¬ëŸ¼ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ 
df_country.sort_values(by='ì „ì²´ë¹„ìœ¨(%)', ascending=False).head()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ì „ì²´ë¹„ìœ¨(%)
17,ì¤‘êµ­,320113,2993,138,8793,60777,392814,2019-01,ì•„ì‹œì•„,81.5,36.2
0,ì¼ë³¸,198805,2233,127,785,4576,206526,2019-01,ì•„ì‹œì•„,96.3,22.5
1,ëŒ€ë§Œ,86393,74,22,180,1285,87954,2019-01,ì•„ì‹œì•„,98.2,9.8
25,ë¯¸êµ­,42989,418,2578,229,16523,62737,2019-01,ì•„ë©”ë¦¬ì¹´,68.5,4.9
2,í™ì½©,34653,59,2,90,1092,35896,2019-01,ì•„ì‹œì•„,96.5,3.9

## ë°ì´í„° ì „ì²˜ë¦¬ ê³¼ì • í•¨ìˆ˜ë¡œ ë§Œë“¤ê¸°

In [28]:
# í•¨ìˆ˜ ìƒì„±
def create_kto_data(yy, mm):
    # 1. ë¶ˆëŸ¬ì˜¬ Excel íŒŒì¼ ê²½ë¡œë¥¼ ì§€ì •
    file_path = './files/kto_{}{}.xlsx'.format(yy, mm)
    
    # 2. Excel íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
    df = pd.read_excel(file_path, header=1, usecols='A:G', skipfooter=4)
    
    # 3. "ê¸°ì¤€ì—°ì›”" ì»¬ëŸ¼ ì¶”ê°€
    df['ê¸°ì¤€ì—°ì›”'] = '{}-{}'.format(yy, mm)
    
    # 4. "êµ­ì " ì»¬ëŸ¼ì—ì„œ ëŒ€ë¥™ ì œê±°í•˜ê³  êµ­ê°€ë§Œ ë‚¨ê¸°ê¸°
    continents_list = ['ì•„ì‹œì•„ì£¼', 'ë¯¸ì£¼', 'êµ¬ì£¼', 'ëŒ€ì–‘ì£¼', 'ì•„í”„ë¦¬ì¹´ì£¼', 'ê¸°íƒ€ëŒ€ë¥™', 'êµí¬ì†Œê³„'] # ì œê±°í•  ëŒ€ë¥™ëª…
    df_country = df[df['êµ­ì '].isin(continents_list) == False]
    df_country = df_country.reset_index(drop=True)

    # 5. "ëŒ€ë¥™" ì»¬ëŸ¼ ì¶”ê°€
    continents = ['ì•„ì‹œì•„']*25 + ['ì•„ë©”ë¦¬ì¹´']*5 + ['ìœ ëŸ½']*23 + ['ëŒ€ì–‘ì£¼']*3 + ['ì•„í”„ë¦¬ì¹´']*2 + ['ê¸°íƒ€ëŒ€ë¥™'] + ['êµí¬']    # ëŒ€ë¥™ ì»¬ëŸ¼ ìƒì„±ì„ ìœ„í•œ ëª©ë¡ ë§Œë“¤ì–´ ë†“ê¸°
    df_country['ëŒ€ë¥™'] = continents
    
    # 6. êµ­ê°€ë³„ "ê´€ê´‘ê°ë¹„ìœ¨(%)" ì»¬ëŸ¼ ì¶”ê°€
    df_country['ê´€ê´‘ê°ë¹„ìœ¨(%)'] = round(df_country['ê´€ê´‘'] / df_country['ê³„'] * 100, 1)
    df_country['ìœ í•™ìƒë¹„ìœ¨(%)'] = round(df_country['ìœ í•™/ì—°ìˆ˜'] / df_country['ê³„'] * 100, 1)
    
    
    # 7. "ì „ì²´ë¹„ìœ¨(%)" ì»¬ëŸ¼ ì¶”ê°€(ì „ì²´ ê´€ê´€ê° ìˆ˜ ì¤‘ êµ­ê°€ë³„ ë¹„ìœ¨)
    tourist = df_country['ê´€ê´‘'].sum()
    df_country['ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%)'] = round(df_country['ê´€ê´‘'] / tourist * 100, 1)
    
    foreign_student = df_country['ìœ í•™/ì—°ìˆ˜'].sum()
    df_country['ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)'] = round(df_country['ìœ í•™/ì—°ìˆ˜'] / foreign_student * 100, 1)
    
    
    # 8. ê²°ê³¼ ì¶œë ¥
    return(df_country)

In [29]:
# create_kto_data() í•¨ìˆ˜ë¥¼ í™œìš©í•´ì„œ 2018ë…„ 12ì›” ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df_test = create_kto_data(2018, 12)
df_test.head()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ìœ í•™ìƒë¹„ìœ¨(%),ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%),ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)
0,ì¼ë³¸,252461,1698,161,608,3593,258521,2018-12,ì•„ì‹œì•„,97.7,0.2,22.7,3.2
1,ëŒ€ë§Œ,85697,71,22,266,1252,87308,2018-12,ì•„ì‹œì•„,98.2,0.3,7.7,1.4
2,í™ì½©,58355,41,3,208,939,59546,2018-12,ì•„ì‹œì•„,98.0,0.3,5.2,1.1
3,ë§ˆì¹´ì˜¤,6766,0,1,20,36,6823,2018-12,ì•„ì‹œì•„,99.2,0.3,0.6,0.1
4,íƒœêµ­,47242,42,302,58,6382,54026,2018-12,ì•„ì‹œì•„,87.4,0.1,4.2,0.3

In [30]:
# ìœ í•™ìƒ ë¹„ìœ¨ì´ ê°€ì¥ ë§ì€ ë‚˜ë¼ëŠ”?
df_test.sort_values(by='ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)', ascending=False).head()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ìœ í•™ìƒë¹„ìœ¨(%),ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%),ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)
17,ì¤‘êµ­,345135,3283,362,10777,56722,416279,2018-12,ì•„ì‹œì•„,82.9,2.6,31.0,56.2
10,ë² íŠ¸ë‚¨,17814,1184,352,3953,6541,29844,2018-12,ì•„ì‹œì•„,59.7,13.2,1.6,20.6
0,ì¼ë³¸,252461,1698,161,608,3593,258521,2018-12,ì•„ì‹œì•„,97.7,0.2,22.7,3.2
16,ëª½ê³¨,6731,82,287,552,550,8202,2018-12,ì•„ì‹œì•„,82.1,6.7,0.6,2.9
32,í”„ë‘ìŠ¤,4426,196,30,293,869,5814,2018-12,ìœ ëŸ½,76.1,5.0,0.4,1.5

## ë°˜ë³µë¬¸(forë¬¸)ì„ ì´ìš©í•´ ë‹¤ìˆ˜ì˜ ì—‘ì…€ ë°ì´í„° ë¶ˆëŸ¬ì™€ì„œ í•©ì¹˜ê¸°

In [31]:
# ì´ì¤‘ ë°˜ë³µë¬¸ìœ¼ë¡œ ê¸°ì¤€ë…„ì›” ì¶œë ¥
for yy in range(2010, 2021):
    for mm in range(1, 13):
        yymm = '{}{}'.format(yy, mm)
        print(yymm)

20101
20102
20103
20104
20105
20106
20107
20108
20109
201010
201011
201012
20111
20112
20113
20114
20115
20116
20117
20118
20119
201110
201111
201112
20121
20122
20123
20124
20125
20126
20127
20128
20129
201210
201211
201212
20131
20132
20133
20134
20135
20136
20137
20138
20139
201310
201311
201312
20141
20142
20143
20144
20145
20146
20147
20148
20149
201410
201411
201412
20151
20152
20153
20154
20155
20156
20157
20158
20159
201510
201511
201512
20161
20162
20163
20164
20165
20166
20167
20168
20169
201610
201611
201612
20171
20172
20173
20174
20175
20176
20177
20178
20179
201710
201711
201712
20181
20182
20183
20184
20185
20186
20187
20188
20189
201810
201811
201812
20191
20192
20193
20194
20195
20196
20197
20198
20199
201910
201911
201912
20201
20202
20203
20204
20205
20206
20207
20208
20209
202010
202011
202012

In [32]:
# zfill()
# 0ì„ í¬í•¨í•œ ë‘ìë¦¬ë¡œ ì¶œë ¥í•˜ê¸°
mm = 1
print(str(mm).zfill(2))

01

In [33]:
# ê¸°ì¤€ë…„ì›” 6ìë¦¬ë¡œ ì •ë ¬
for yy in range(2010, 2021):
    for mm in range(1, 13):
        mm_str = str(mm).zfill(2)
        yymm = '{}{}'.format(yy, mm_str)
        print(yymm)

201001
201002
201003
201004
201005
201006
201007
201008
201009
201010
201011
201012
201101
201102
201103
201104
201105
201106
201107
201108
201109
201110
201111
201112
201201
201202
201203
201204
201205
201206
201207
201208
201209
201210
201211
201212
201301
201302
201303
201304
201305
201306
201307
201308
201309
201310
201311
201312
201401
201402
201403
201404
201405
201406
201407
201408
201409
201410
201411
201412
201501
201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201512
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201612
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012

In [34]:
# ë°ì´í„°ë¥¼ ë‹´ì„ ë¹ˆ ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°
df = pd.DataFrame()

In [35]:
# ë°˜ë³µë¬¸ì„ í†µí•´ ì—‘ì…€ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
for yy in range(2010, 2021):
    for mm in range(1, 13):
        temp = create_kto_data(str(yy), str(mm).zfill(2))
        df = df.append(temp, ignore_index=True)

FileNotFoundError: [Errno 2] No such file or directory: './files/kto_202006.xlsx'

In [36]:
df.head()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ìœ í•™ìƒë¹„ìœ¨(%),ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%),ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)
0,ì¼ë³¸,202825,1750,89,549,3971,209184,2010-01,ì•„ì‹œì•„,97.0,0.3,50.6,10.7
1,ëŒ€ë§Œ,35788,41,17,37,516,36399,2010-01,ì•„ì‹œì•„,98.3,0.1,8.9,0.7
2,í™ì½©,13874,55,0,21,595,14545,2010-01,ì•„ì‹œì•„,95.4,0.1,3.5,0.4
3,ë§ˆì¹´ì˜¤,554,0,0,0,0,554,2010-01,ì•„ì‹œì•„,100.0,0.0,0.1,0.0
4,íƒœêµ­,13374,39,13,53,4335,17814,2010-01,ì•„ì‹œì•„,75.1,0.3,3.3,1.0

In [37]:
df.tail()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ìœ í•™ìƒë¹„ìœ¨(%),ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%),ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)
7495,ëŒ€ì–‘ì£¼ ê¸°íƒ€,1,0,1,0,3,5,2020-05,ëŒ€ì–‘ì£¼,20.0,0.0,0.0,0.0
7496,ë‚¨ì•„í”„ë¦¬ì¹´ê³µí™”êµ­,1,0,3,0,25,29,2020-05,ì•„í”„ë¦¬ì¹´,3.4,0.0,0.0,0.0
7497,ì•„í”„ë¦¬ì¹´ ê¸°íƒ€,3,1,3,6,118,131,2020-05,ì•„í”„ë¦¬ì¹´,2.3,4.6,0.0,0.3
7498,êµ­ì ë¯¸ìƒ,1,0,0,0,3,4,2020-05,ê¸°íƒ€ëŒ€ë¥™,25.0,0.0,0.0,0.0
7499,êµí¬,0,0,0,0,790,790,2020-05,êµí¬,0.0,0.0,0.0,0.0

In [38]:
# í†µí•© ë°ì´í„° ìƒì„±
df = pd.DataFrame()

for yy in range(2010, 2021):
    for mm in range(1, 13):
        # try ì´í•˜ êµ¬ë¬¸ì„ ì‹¤í–‰
        try:
            # ì•ì„œ ë§Œë“  create_kto_data í•¨ìˆ˜ë¡œ Excel ë°ì´í„°ë¥¼ temp ì— ë¶ˆëŸ¬ì˜¤ê¸° 
            temp = create_kto_data(str(yy), str(mm).zfill(2))

            # temp ë¡œ ë¶ˆëŸ¬ì˜¨ ë°ì´í„°ë¥¼ df ë°‘ìœ¼ë¡œ ì¶”ê°€í•˜ê¸° 
            df = df.append(temp, ignore_index=True)
            
        # try êµ¬ë¬¸ì—ì„œ ì—ëŸ¬ê°€ ë°œìƒí•˜ë©´ except ì´í›„ë¥¼ ì‹¤í–‰
        except:
            pass

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   êµ­ì            7500 non-null   object
 1   ê´€ê´‘           7500 non-null   int64
 2   ìƒìš©           7500 non-null   int64
 3   ê³µìš©           7500 non-null   int64
 4   ìœ í•™/ì—°ìˆ˜        7500 non-null   int64
 5   ê¸°íƒ€           7500 non-null   int64
 6   ê³„            7500 non-null   int64
 7   ê¸°ì¤€ì—°ì›”         7500 non-null   object
 8   ëŒ€ë¥™           7500 non-null   object
 9   ê´€ê´‘ê°ë¹„ìœ¨(%)     7500 non-null   float64
 10  ìœ í•™ìƒë¹„ìœ¨(%)     7500 non-null   float64
 11  ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%)  7500 non-null   float64
 12  ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)  7500 non-null   float64
dtypes: float64(4), int64(6), object(3)
memory usage: 761.8+ KB

## íŒŒì¼ ì €ì¥í•˜ê¸°

In [40]:
# ì—‘ì…€ ì €ì¥
df.to_excel('./files/kto_total.xlsx', index = False)

### êµ­ì ë³„ í•„í„°ë§ëœ ë°ì´í„°ë¥¼ ì—‘ì…€ íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°

In [41]:
df_japan = df[df['êµ­ì '] == 'ì¤‘êµ­']
df_japan.head()

,êµ­ì,ê´€ê´‘,ìƒìš©,ê³µìš©,ìœ í•™/ì—°ìˆ˜,ê¸°íƒ€,ê³„,ê¸°ì¤€ì—°ì›”,ëŒ€ë¥™,ê´€ê´‘ê°ë¹„ìœ¨(%),ìœ í•™ìƒë¹„ìœ¨(%),ê´€ê´‘ê°_ì „ì²´ë¹„ìœ¨(%),ìœ í•™ìƒ_ì „ì²´ë¹„ìœ¨(%)
17,ì¤‘êµ­,40425,11930,55,2751,36091,91252,2010-01,ì•„ì‹œì•„,44.3,3.0,10.1,53.8
77,ì¤‘êµ­,60590,7907,68,29546,42460,140571,2010-02,ì•„ì‹œì•„,43.1,21.0,13.6,82.9
137,ì¤‘êµ­,50330,13549,174,14924,62480,141457,2010-03,ì•„ì‹œì•„,35.6,10.6,9.2,84.9
197,ì¤‘êµ­,84252,13306,212,2199,47711,147680,2010-04,ì•„ì‹œì•„,57.1,1.5,15.5,73.4
257,ì¤‘êµ­,89056,12325,360,2931,49394,154066,2010-05,ì•„ì‹œì•„,57.8,1.9,17.0,72.6

In [42]:
file_path = './files/[êµ­ì ë³„ ê´€ê´‘ê° ë°ì´í„°] ì¼ë³¸.xlsx'
df_japan.to_excel(file_path, index=False)

In [43]:
# êµ­ê°€ ë¦¬ìŠ¤íŠ¸ ë§Œë“¤ê¸°
country_list = df['êµ­ì '].unique()
country_list

array(['ì¼ë³¸', 'ëŒ€ë§Œ', 'í™ì½©', 'ë§ˆì¹´ì˜¤', 'íƒœêµ­', 'ë§ë ˆì´ì‹œì•„', 'í•„ë¦¬í•€', 'ì¸ë„ë„¤ì‹œì•„', 'ì‹±ê°€í¬ë¥´',
       'ë¯¸ì–€ë§ˆ', 'ë² íŠ¸ë‚¨', 'ì¸ë„', 'ìŠ¤ë¦¬ë‘ì¹´', 'íŒŒí‚¤ìŠ¤íƒ„', 'ë°©ê¸€ë¼ë°ì‹œ', 'ìº„ë³´ë””ì•„', 'ëª½ê³¨', 'ì¤‘êµ­',
       'ì´ë€', 'ì´ìŠ¤ë¼ì—˜', 'í„°í‚¤', 'ìš°ì¦ˆë² í‚¤ìŠ¤íƒ„', 'ì¹´ìíìŠ¤íƒ„', 'GCC', 'ì•„ì‹œì•„ ê¸°íƒ€', 'ë¯¸êµ­',
       'ìºë‚˜ë‹¤', 'ë©•ì‹œì½”', 'ë¸Œë¼ì§ˆ', 'ë¯¸ì£¼ ê¸°íƒ€', 'ì˜êµ­', 'ë…ì¼', 'í”„ë‘ìŠ¤', 'ë„¤ëœë€ë“œ', 'ìŠ¤ì›¨ë´',
       'ìŠ¤ìœ„ìŠ¤', 'ì´íƒˆë¦¬ì•„', 'ë´ë§ˆí¬', 'ë…¸ë¥´ì›¨ì´', 'ë²¨ê¸°ì—', 'ì˜¤ìŠ¤íŠ¸ë¦¬ì•„', 'ìŠ¤í˜ì¸', 'ê·¸ë¦¬ìŠ¤', 'í¬ë¥´íˆ¬ê°ˆ',
       'í•€ë€ë“œ', 'ì•„ì¼ëœë“œ', 'ìš°í¬ë¼ì´ë‚˜', 'ëŸ¬ì‹œì•„', 'í¬ë¡œì•„í‹°ì•„', 'ë£¨ë§ˆë‹ˆì•„', 'ë¶ˆê°€ë¦¬ì•„', 'í´ë€ë“œ',
       'êµ¬ì£¼ ê¸°íƒ€', 'ì˜¤ìŠ¤íŠ¸ë ˆì¼ë¦¬ì•„', 'ë‰´ì§ˆëœë“œ', 'ëŒ€ì–‘ì£¼ ê¸°íƒ€', 'ë‚¨ì•„í”„ë¦¬ì¹´ê³µí™”êµ­', 'ì•„í”„ë¦¬ì¹´ ê¸°íƒ€',
       'êµ­ì ë¯¸ìƒ', 'êµí¬'], dtype=object)

In [44]:
# êµ­ì ë³„ ê´€ê´‘ê° ë°ì´í„° ì €ì¥í•˜ê¸°
for country in country_list:
    # êµ­ì  í•„í„°ë§
    df_country = df[df['êµ­ì '] == country]
    
    # êµ­ì  ì´ë¦„ì„ ë°˜ì˜í•œ íŒŒì¼ëª… ë§Œë“¤ê¸°
    file_path = './files/[êµ­ì ë³„ ê´€ê´‘ê° ë°ì´í„°] {}.xlsx'.format(country)
    
    # íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°
    df_country.to_excel(file_path, index = False)